
    nav {
        background-color: #292929;
        padding: 5px;
    }

    ul {
        font-family: "Roboto", Arial, sans-serif;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
        margin-right: 20px;
    }

    a {
        display: block;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
